<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="NWConnectionString"
			 ConnectionString="Data Source=ELIASALAS\SQLEXPRESS;Initial 
			 Catalog=Northwind;Integrated Security=True;Trust Server Certificate=True
			 Application Intent=ReadWrite;
			 Multi Subnet Failover=False"
            providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>